[package]
name = "causal-hub-next"
version = "0.1.0"
authors = ["Alessio Zanga <alessio.zanga@outlook.it>"]
edition = "2024"

[dependencies]
approx = "^0.5"
csv = "^1"
dry = "^0.1"
fxhash = "^0.2"
indexmap = "^2"
itertools = "^0.14"
ndarray = { version = "^0.16", features = ["approx"] }
paste = "^1"
pest = "^2"
pest_derive = "^2"
rand = "^0.9"
