[package]
name = "causal-hub-next"
version = "0.1.0"
authors = ["Alessio Zanga <alessio.zanga@outlook.it>"]
edition = "2024"

[dependencies]
approx = "^0.5"
csv = "^1"
dry = "^0.1"
fxhash = "^0.2"
indexmap = { version = "^2", features = ["rayon"] }
itertools = "^0.14"
ndarray = { version = "^0.16", features = ["approx", "rayon"] }
ndarray-stats = "^0.6"
paste = "^1"
pest = "^2"
pest_derive = "^2"
rand = "^0.9"
rand_distr = "^0.5"
rayon = "^1.10"
statrs = { version = "^0.18", default-features = false }

[dev-dependencies]
rand_xoshiro = "^0.7"
