[package]
name = "causal-hub-next"
version = "0.1.0"
authors = ["Alessio Zanga <alessio.zanga@outlook.it>"]
edition = "2024"

[dependencies]
approx = "^0.5"
csv = "^1.3"
dry = "^0.1"
fxhash = "^0.2"
indexmap = { version = "^2.7", features = ["rayon", "serde"] }
itertools = "^0.14"
ndarray = { version = "^0.16", features = ["approx", "rayon", "serde"] }
ndarray-stats = "^0.6"
paste = "^1.0"
pest = "^2.7"
pest_derive = "^2.7"
rand = "^0.9"
rand_distr = "^0.5"
rayon = "^1.10"
serde = { version = "^1.0", features = ["derive"] }
statrs = { version = "^0.18", default-features = false }

[dev-dependencies]
rand_xoshiro = "^0.7"
serde_json = "^1.0"
