[package]
name = "causal-hub-next"
version = "0.1.0"
authors = ["Alessio Zanga <alessio.zanga@outlook.it>"]
edition = "2018"

[dependencies]
approx = "^0.5"
csv = "1.3.1"
fxhash = "^0.2"
indexmap = "^2.8"
itertools = "^0.14"
ndarray = { version = "^0.16", features = ["approx"] }
