[package]
name = "causal-hub-next"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
approx.workspace = true
csv.workspace = true
dry.workspace = true
fxhash.workspace = true
indexmap.workspace = true
itertools.workspace = true
ndarray.workspace = true
ndarray-stats.workspace = true
paste.workspace = true
pest.workspace = true
pest_derive.workspace = true
rand.workspace = true
rand_distr.workspace = true
rayon.workspace = true
serde.workspace = true
statrs.workspace = true

[dev-dependencies]
rand_xoshiro = "^0.7"
serde_json = "^1.0"
