name: python-release

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  SCCACHE_GHA_ENABLED: true
  RUST_WRAPPER: sccache

jobs:
  linux:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
    steps:
      - uses: actions/checkout@v4
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: true
          manylinux: auto
          working-directory: python
          before-script-linux: |
            # Enable sccache for OpenBLAS
            export OPENBLAS_CC="sccache gcc"
            export OPENBLAS_FC="sccache gfortran"
            export OPENBLAS_HOST_CC="sccache gcc"
            # Enable dynamic arch for OpenBLAS
            export OPENBLAS_TARGET=GENERIC
            export DYNAMIC_ARCH=1
            # Install dependencies for building wheels
            yum install -y pkgconfig openssl-devel
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: true
          manylinux: auto
          working-directory: python
          before-script-linux: |
            # Enable sccache for OpenBLAS
            export OPENBLAS_CC="sccache gcc"
            export OPENBLAS_FC="sccache gfortran"
            export OPENBLAS_HOST_CC="sccache gcc"
            # Enable dynamic arch for OpenBLAS
            export OPENBLAS_TARGET=GENERIC
            export DYNAMIC_ARCH=1
            # Install dependencies for building wheels
            yum install -y pkgconfig openssl-devel
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: python/dist

  windows:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: windows-latest
            target: x64
    steps:
      - uses: actions/checkout@v4
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            C:\vcpkg
          key: ${{ matrix.platform.runner }}-${{ matrix.platform.target }}-vcpkg
          restore-keys: |
            ${{ matrix.platform.runner }}-${{ matrix.platform.target }}
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Set env variables
        run: |
          "CMAKE_C_COMPILER_LAUNCHER=sccache" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "CMAKE_CXX_COMPILER_LAUNCHER=sccache" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "CMAKE_Fortran_COMPILER_LAUNCHER=sccache" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "RUSTFLAGS=-C target-feature=+crt-static" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "SCCACHE_GHA_ENABLED=true" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "VCPKG_DEFAULT_TRIPLET=${{ matrix.platform.target }}-windows-static" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          "VCPKGRS_TRIPLET=${{ matrix.platform.target }}-windows-static" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Build OpenBLAS
        run: |
          vcpkg integrate install
          vcpkg install openblas --overlay-ports=.vcpkg/ports
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          architecture: ${{ ( matrix.platform.target == 'x86' ) && 'x86' || null }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --features=pyo3/extension-module,backend/openblas-system
          sccache: true
          working-directory: python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13t"
          architecture: ${{ ( matrix.platform.target == 'x86' ) && 'x86' || null }}
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t --features=pyo3/extension-module,backend/openblas-system
          sccache: true
          working-directory: python
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: python/dist

  macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-14
            target: aarch64
    steps:
      - uses: actions/checkout@v4
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: true
          working-directory: python
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: true
          working-directory: python
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: python/dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    needs: [linux, windows, macos]
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: "wheels-*/*"
      - name: Publish to PyPI
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*
