name: python-test

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  SCCACHE_GHA_ENABLED: true
  RUST_WRAPPER: sccache
  OPENBLAS_CC: sccache gcc
  OPENBLAS_FC: sccache gfortran
  OPENBLAS_HOST_CC: sccache gcc
  OPENBLAS_TARGET: GENERIC
  DYNAMIC_ARCH: 1

jobs:
  linux:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
    defaults:
      run:
        shell: bash -el {0}
        working-directory: python
    steps:
      - uses: actions/checkout@v4
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Set up system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: true
          python-version: 3.13
      - name: Build
        run: |
          conda install maturin
          maturin develop --release
      - name: Test
        run: |
          conda install pytest
          pytest

  macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-13
            target: x86_64
          - runner: macos-14
            target: aarch64
    defaults:
      run:
        shell: bash -el {0}
        working-directory: python
    steps:
      - uses: actions/checkout@v4
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: true
          python-version: 3.13
      - name: Build
        run: |
          conda install maturin
          maturin develop --release
      - name: Test
        run: |
          conda install pytest
          pytest
