name: rust-release

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.local/share/openblas_build
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ubuntu-latest-x64-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ubuntu-latest-x64-${{ hashFiles('Cargo.lock') }}
            ubuntu-latest-x64-
            ubuntu-latest-
      - name: Set up system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev
      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
